name: Build installers

on:
release:
types: [created]

jobs:
build:
strategy:
matrix:
os: [windows-latest, ubuntu-latest, macos-latest]

runs-on: ${{ matrix.os }}

steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Setup JDK
    uses: actions/setup-java@v4
    with:
      distribution: temurin
      java-version: 21

  - name: Prepare app folder
    run: |
      mkdir input
      cp releases/ArtAttack.jar input/ArtAttack.jar
    shell: bash

  # WINDOWS
  - name: Build Windows exe
    if: runner.os == 'Windows'
    run: |
      jpackage ^
        --name ArtAttack ^
        --input input ^
        --main-jar ArtAttack.jar ^
        --type exe ^
        --icon icons/icon.ico ^
        --win-menu ^
        --win-shortcut ^
        --java-options "-Xmx1G -Dsun.java2d.uiScale=1.0 -Dswing.aatext=true"
    shell: cmd

  # LINUX
  - name: Build Linux AppImage
    if: runner.os == 'Linux'
    run: |
      jpackage \
        --name ArtAttack \
        --input input \
        --main-jar ArtAttack.jar \
        --type app-image \
        --icon icons/icon.png \
        --java-options "-Xmx1G -Dsun.java2d.uiScale=1.0 -Dswing.aatext=true"

  - name: Build Linux RPM
    if: runner.os == 'Linux'
    run: |
      sudo apt-get update
      sudo apt-get install -y rpm
      jpackage \
        --name ArtAttack \
        --input input \
        --main-jar ArtAttack.jar \
        --type rpm \
        --icon icons/icon.png

  # MAC
  - name: Build macOS dmg
    if: runner.os == 'macOS'
    run: |
      jpackage \
        --name ArtAttack \
        --input input \
        --main-jar ArtAttack.jar \
        --type dmg \
        --icon icons/icon.icns \
        --java-options "-Xmx1G -Dsun.java2d.uiScale=1.0 -Dswing.aatext=true"

  # UPLOAD ARTIFACTS
  - name: Upload artifacts
    uses: actions/upload-artifact@v4
    with:
      name: ArtAttack-${{ runner.os }}
      path: |
        *.exe
        *.dmg
        *.rpm
        ArtAttack/
